@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+IN:wght@100..400&display=swap');

/* font-family: "DM Sans", sans-serif; */
/* font-family: "Nunito", sans-serif; */
/* font-family: "Playwrite IN", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: red;
    text-decoration: none;
}

html, body, button {
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: var(--items-light);
}

.light-mode {
    background-color: var(--bg-light);
    color: var(--items-dark);
}

.spacer40 {
    height: 40px;
}