.homepage-wrapper {
    height: calc(100vh - 186px);
    min-height: fit-content;
    padding: 0 10vw;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg-homepage-dark.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.bg-img-light-mode {
    background-image: url(../images/bg-homepage-light.png);
}

/* Text styles */
.homepage-wrapper > .text-container {
    text-align: center;
    font-size: 1.8rem; 
}

.homepage-wrapper > .text-container h2 {
    font-family: "Nunito", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 7px;
}

.homepage-wrapper > .text-container span {
    color: var(--accent);
    text-shadow: 2px 1px 1px var(--items-light);
}

.shadow-text-light-mode {
    text-shadow: 2px 1px 1px var(--items-dark) !important;
}

.homepage-wrapper > .text-container h3 {
    font-family: "Nunito", sans-serif;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.homepage-wrapper > .text-container p {
    font-size: 0.65em;
}

/* Buttons styles */
.homepage-wrapper > .btn-container button {
    margin-top: 16px;
    background-color: var(--accent);
    border: 2px solid var(--option-gray);
    border-radius: 10px;
    width: 170px;
    height: 50px;
    color: var(--option-gray);
    text-shadow: 1px 1px 1px var(--items-light);
    font-size: 1.2rem;
    font-weight: 700;
}

.homepage-wrapper > .btn-container button:hover {
    border: 2px solid var(--items-light);
    cursor: pointer;
}

.homepage-wrapper > .btn-container button:active {
    position: relative;
    top: 1px;
}