@media (max-width: 1114px) {
    /* Header styles */
    .header-container {
        grid-template-columns: 1fr 1fr;
    }

    .header-container > .nav-wrapper {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    .header-container > .connect-wrapper {
        grid-column: 2 / 3;
    }
    /* About styles */
    .aboutpage-wrapper { 
        padding: 0 18vw 48px;
    }

    /* Skills styles */
    .skillspage-wrapper {
        padding: 0 18vw;
    }
}



@media (max-width: 768px) {
    /* Header styles */
    .header-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .header-container > .nav-wrapper > .nav-list {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .header-container > .connect-wrapper {
        grid-column: 1 / 2;
        justify-self: center;
        margin: 12px 0 6px;
    }

    /* Home page styles */
    .homepage-wrapper {
        justify-content: flex-start;
    }

    /* About styles */
    .aboutpage-wrapper > .content-container > .img-wrapper {
        float: none;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
    }

    /* Skills styles */
    .skills-wrapper ul:nth-child(3) {
        display: flex;
        flex-direction: column;
    }
}



@media (max-width: 425px) {
    /* Skills styles */
    .skills-wrapper li {
        font-size: 0.7em;
    }

    /* Contacts styles */
    .cards-wrapper > .card-container:hover .img-wrapper {
        transform: translate(0, -35px);
    }

    .cards-wrapper > .card-container:hover > .content-wrapper {
        transform: translate(0, 35px);
    }
}